.primary-heading {
    font-size: 6rem;
    font-weight: 700;
    color: $white;
    margin: 2rem 1rem;
    text-align: center;
}

.secondary-heading {
    font-size: 4.5rem;
    font-family: inherit;
    text-align: center;
    color: $very-dark-black-blue;
    margin: 4rem 0;
}

p {
    font-size: 2rem;
}